@if (isLoading) {
<div class="text-center fixed inset-0 z-20 flex justify-center items-center">
  <span class="fas fa-spin fa-spinner text-6xl text-green-500"></span>
</div>
}
<section class="py-10">
  @if(products.length > 0){
  <h1 class="text-green-500 font-semibold text-4xl text-center mb-5">All Products</h1>
  <div class="grid sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-5">
    @for (product of products | paginate: { id: 'foo', itemsPerPage: pageSize, currentPage: p,
    totalItems: total }; track product._id) {
    <app-product [product]="product" />
    }
  </div>

  <pagination-controls id="foo" (pageChange)="pageChange($event)"> </pagination-controls>
  }
</section>
