<section class="h-screen flex justify-center items-center">
  <div class="h-auto md:w-1/2 bg-white shadow-2xl p-24 rounded-2xl gap-5">
    @if (steps==1) {
    <h1 class="text-center mb-5 text-3xl text-green-500 font-bold">Forget Password</h1>
    <form class="mt-5" [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
      <app-input
        [control]="forgetPasswordForm.get('email')"
        [idInput]="'email'"
        [label]="'User Email'"
        [typeInput]="'email'"
      ></app-input>
      <button class="btn bg-green-500 text-white w-1/2 block m-auto mt-5">Submit</button>
    </form>
    }@else if (steps==2) {
    <h1 class="text-center mb-5 text-3xl text-green-500 font-bold">Reset Code</h1>
    <form class="mt-5" [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
      <app-input
        [control]="resetCodeForm.get('resetCode')"
        [idInput]="'resetCode'"
        [label]="'Reset Code'"
        [typeInput]="'text'"
      ></app-input>
      <button class="btn bg-green-500 text-white w-1/2 block m-auto mt-5">Submit</button>
    </form>
    } @else if(steps===3) {
    <h1 class="text-center mb-5 text-3xl text-green-500 font-bold">Reset Password</h1>
    <form class="mt-5" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <app-input
        [control]="resetPasswordForm.get('email')"
        [idInput]="'email'"
        [label]="'User Email'"
        [typeInput]="'email'"
        [readonly]="true"
      ></app-input>
      <app-input
        [control]="resetPasswordForm.get('newPassword')"
        [idInput]="'password'"
        [label]="'New Password'"
      ></app-input>
      <button class="btn bg-green-500 text-white w-1/2 block m-auto mt-5">Submit</button>
    </form>
    }
  </div>
</section>
