<section
  class="shadow-sm w-[90vw] md:w-[70vw] rounded-2xl p-24 bg-surface-default dark:bg-surface-dark"
>
  <div>
    @if (steps==1) {
    <h1 class="text-center mb-5 text-3xl font-bold text-prose-default dark:text-prose-dark">
      {{ 'AUTH.FORGETPASSWORD' | translate }}
    </h1>
    <form class="mt-5" [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
      <app-input
        [control]="forgetPasswordForm.get('email')"
        [idInput]="'email'"
        [label]="'AUTH.USEREMAIL' | translate"
        [typeInput]="'email'"
      ></app-input>
      <button class="btn mt-3">{{ 'AUTH.SIGN' | translate }}</button>
    </form>
    }@else if (steps==2) {
    <h1 class="text-center mb-5 text-3xl font-bold text-prose-default dark:text-prose-dark">
      {{ 'AUTH.RESETCODE' | translate }}
    </h1>
    <form class="mt-5" [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
      <app-input
        [control]="resetCodeForm.get('resetCode')"
        [idInput]="'resetCode'"
        [label]="'AUTH.RESETCODE' | translate"
        [typeInput]="'text'"
      ></app-input>
      <button class="btn mt-3">{{ 'AUTH.SIGN' | translate }}</button>
    </form>
    } @else if(steps===3) {
    <h1 class="text-center mb-5 text-3xl font-bold text-prose-default dark:text-prose-dark">
      {{ 'AUTH.RESETPASSWORD' | translate }}
    </h1>
    <form class="mt-5" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <app-input
        [control]="resetPasswordForm.get('email')"
        [idInput]="'email'"
        [label]="'AUTH.USEREMAIL' | translate"
        [typeInput]="'email'"
        [readonly]="true"
      ></app-input>
      <app-input
        [control]="resetPasswordForm.get('newPassword')"
        [idInput]="'password'"
        [label]="'AUTH.NEWPASSWORD' | translate"
      ></app-input>
      <button class="btn mt-3">{{ 'AUTH.SIGN' | translate }}</button>
    </form>
    }
  </div>
</section>
