::ng-deep .ngx-pagination {
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
::ng-deep .ngx-pagination li {
  background-color: rgb(243, 249, 243) !important;
  font-weight: 500;
}
::ng-deep .ngx-pagination .current {
  background-color: var(--color-primary-default) !important;
}
