<section
  class="py-10 my-8 rounded-2xl px-5 bg-surface-hover dark:bg-surface-dark-hover"
  data-aos="fade-right"
>
  <div class="flex justify-center flex-col rounded-2xl bg-transparent px-5 items-center">
    <h1
      class="text-3xl md:text-4xl text-center text-primary-default hover:text-primary-dark mb-5 dark:text-prose-dark dark:hover:text-prose-dark-hover font-semibold pb-5"
    >
      {{ 'shippingAddress' | translate }}
    </h1>
    <form class="w-full" [formGroup]="address" (ngSubmit)="submit()">
      <app-input
        [control]="address.get('shippingAddress')?.get('details')"
        [idInput]="'details'"
        [label]="'details' | translate"
        [typeInput]="'text'"
      ></app-input>
      <app-input
        [control]="address.get('shippingAddress')?.get('phone')"
        [idInput]="'phone'"
        [label]="'phone' | translate"
        [typeInput]="'tel'"
      ></app-input>
      <app-input
        [control]="address.get('shippingAddress')?.get('city')"
        [idInput]="'city'"
        [label]="'city' | translate"
        [typeInput]="'text'"
      ></app-input>
      <div class="flex justify-between items-end gap-5">
        <div class="w-full mx-auto">
          <label for="paymentMethod" class="main-label"> {{ 'paymentMethod' | translate }} </label>
          <select
            [formControl]="paymentMethod"
            id="paymentMethod"
            name="paymentMethod"
            class="main-input"
          >
            <option class="rounded-2xl" value="cash" selected>
              {{ 'cashOnDelivery' | translate }}
            </option>
            <option class="rounded-2xl" value="card">{{ 'creditDebitCard' | translate }}</option>
          </select>
        </div>
        <button class="btn">{{ 'order' | translate }}</button>
      </div>
    </form>
  </div>
</section>
