<section class="py-5 main-slider" data-aos="fade-in">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide
      ><img src="./images/img1.avif" alt="product image slider"
    /></ng-template>
    <ng-template carouselSlide
      ><img src="./images/img2.avif" alt="product image slider"
    /></ng-template>
    <ng-template carouselSlide
      ><img src="./images/img3.avif" alt="product image slider"
    /></ng-template>
    <ng-template carouselSlide
      ><img src="./images/img4.avif" alt="product image slider"
    /></ng-template>
    <ng-template carouselSlide
      ><img src="./images/img5.avif" alt="product image slider"
    /></ng-template>
    <ng-template carouselSlide
      ><img src="./images/img6.avif" alt="product image slider"
    /></ng-template>
    <ng-template carouselSlide
      ><img src="./images/img7.avif" alt="product image slider"
    /></ng-template>
  </owl-carousel-o>
</section>
