<div
  class="w-full bg-surface-default dark:bg-surface-dark grid shadow-sm lg:grid-cols-2 lg:w-[70%] gap-10 p-10 rounded-2xl lg:justify-center lg:items-center mx-auto"
>
  <div class="hidden lg:block lg:h-[80%]">
    <img src="./images/sign.png" class="w-full h-full rounded-2xl" alt="sign" />
  </div>
  <div class="w-full">
    <h1 class="text-3xl text-prose-default dark:text-prose-dark font-bold text-center mb-5">
      {{ 'AUTH.SIGNUP' | translate }}
    </h1>
    <form [formGroup]="registerForm" (ngSubmit)="signUp()">
      <app-input
        [control]="registerForm.get('name')"
        [idInput]="'name'"
        [label]="'AUTH.USERNAME' | translate"
        [typeInput]="'text'"
      ></app-input>
      <app-input
        [control]="registerForm.get('email')"
        [idInput]="'email'"
        [label]="'AUTH.USEREMAIL' | translate"
        [typeInput]="'email'"
      ></app-input>
      <app-input
        [control]="registerForm.get('password')"
        [idInput]="'password'"
        [label]="'AUTH.PASSWORD' | translate"
      ></app-input>
      <app-input
        [control]="registerForm.get('rePassword')"
        [idInput]="'rePassword'"
        [label]="'AUTH.REPASSWORD' | translate"
      ></app-input>
      <app-input
        [control]="registerForm.get('phone')"
        [idInput]="'phone'"
        [label]="'AUTH.PHONE' | translate"
        [typeInput]="'tel'"
      ></app-input>
      <button class="btn">
        {{ 'AUTH.SIGN' | translate }} @if (isLoading) {
        <span> <i class="fas fa-spin fa-spinner"></i></span>
        }
      </button>

      <div class="md:flex justify-between items-center">
        <span class="mt-6 block text-center text-prose-default dark:text-prose-dark">
          {{ 'AUTH.IFYOUHAVEANACCOUNT' | translate }}
          <a
            class="font-bold cursor-pointer p-2 text-primary-default dark:text-primary-dark"
            routerLink="/login"
          >
            {{ 'AUTH.SIGNIN' | translate }}</a
          >
        </span>
        <span class="mt-6 block text-center text-prose-default dark:text-prose-dark">
          <a
            class="font-bold cursor-pointer p-2 text-primary-default dark:text-primary-dark"
            routerLink="/forget-password"
          >
            {{ 'AUTH.FORGETPASSWORD' | translate }}</a
          >
        </span>
      </div>
    </form>
  </div>
</div>
