<div class="my-20">
  <section
    class="w-full md:m-0 mt-12 min-h-screen py-10 min-w-screen md:min-w-4xl p-3 md:p-0 flex items-center justify-center bg-surface-default dark:bg-surface-dark md:px-4"
  >
    <div class="grid lg:grid-cols-2 shadow-sm rounded-2xl overflow-hidden max-w-5xl w-full">
      <div class="hidden lg:flex items-center justify-center">
        <img src="./images/sign.png" alt="sign" class="w-full h-full object-cover" />
      </div>

      <div class="bg-surface-default dark:bg-surface-dark p-10 flex flex-col justify-center">
        <h1 class="text-3xl font-bold text-center text-prose-default dark:text-prose-dark mb-8">
          {{ 'AUTH.SIGNUP' | translate }}
        </h1>

        <form [formGroup]="registerForm" (ngSubmit)="signUp()" class="space-y-6">
          <app-input
            [control]="registerForm.get('name')"
            [idInput]="'name'"
            [label]="'AUTH.USERNAME' | translate"
            [typeInput]="'text'"
          ></app-input>

          <app-input
            [control]="registerForm.get('email')"
            [idInput]="'email'"
            [label]="'AUTH.USEREMAIL' | translate"
            [typeInput]="'email'"
          ></app-input>

          <app-input
            [control]="registerForm.get('password')"
            [idInput]="'password'"
            [label]="'AUTH.PASSWORD' | translate"
            [typeInput]="'password'"
          ></app-input>

          <app-input
            [control]="registerForm.get('rePassword')"
            [idInput]="'rePassword'"
            [label]="'AUTH.REPASSWORD' | translate"
            [typeInput]="'password'"
          ></app-input>

          <app-input
            [control]="registerForm.get('phone')"
            [idInput]="'phone'"
            [label]="'AUTH.PHONE' | translate"
            [typeInput]="'tel'"
          ></app-input>

          <button type="submit" class="btn w-full">
            {{ 'AUTH.SIGN' | translate }}
            @if (isLoading()) {
            <i class="fas fa-spin fa-spinner ml-2"></i>
            }
          </button>
        </form>

        <div class="mt-8 flex flex-col md:flex-row justify-between items-center text-center gap-4">
          <span
            class="text-prose-default text-sm md:flex md:flex-col justify-center gap-1 items-center dark:text-prose-dark"
          >
            {{ 'AUTH.IFYOUHAVEANACCOUNT' | translate }}
            <a
              class="font-bold text-primary-default hover:text-primary-hover dark:hover:text-primary-dark-hover dark:text-primary-dark ml-1"
              routerLink="/login"
            >
              {{ 'AUTH.SIGNIN' | translate }}
            </a>
          </span>

          <a
            class="font-bold text-sm text-primary-default hover:text-primary-hover dark:hover:text-primary-dark-hover dark:text-primary-dark"
            routerLink="/forget-password"
          >
            {{ 'AUTH.FORGETPASSWORD' | translate }}
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
