<section class="py-10 my-8 rounded-2xl bg-surface-hover dark:bg-surface-dark-hover">
  @if (categories().length) {
  <h2
    class="text-3xl md:text-4xl text-center text-primary-default hover:text-primary-dark mb-5 dark:text-prose-dark dark:hover:text-prose-dark-hover font-semibold pb-5"
  >
    {{ 'HOME.ShopPopularCategories' | translate }}
  </h2>

  <div>
    <owl-carousel-o [options]="categoryOption()">
      @for (slide of categories(); track slide._id) {
      <ng-template carouselSlide [id]="slide._id">
        <div
          class="group cursor-pointer mt-2 overflow-hidden flex flex-col justify-center items-center text-center transition-all duration-300 hover:scale-105"
        >
          <div
            class="relative size-[200px] rounded-full shadow-md border-2 border-surface-dark-hover/20 dark:border-surface-hover/20 overflow-hidden"
          >
            <img
              [src]="slide.image"
              [alt]="slide.name"
              class="object-cover w-full h-full transition-transform duration-300 group-hover:scale-110"
              [title]="slide.name"
            />
            <div
              class="absolute inset-0 bg-prose-default/20 opacity-0 group-hover:opacity-100 transition duration-300 rounded-full"
            ></div>
          </div>

          <h3
            class="mt-4 text-lg sm:text-xl font-semibold text-gray-800 dark:text-gray-100 transition-colors duration-200 group-hover:text-primary-default"
          >
            {{ slide.name }}
          </h3>
        </div>
      </ng-template>
      }
    </owl-carousel-o>
  </div>
  }
</section>
