<section class="py-5">
  @if (categories.length>0) {
  <h2
    class="text-2xl sm:text-3xl md:text-4xl text-center text-primary-default hover:text-primary-dark-hover dark:text-prose-dark dark:hover:text-prose-dark-hover font-semibold mb-10"
  >
    {{ 'HOME.ShopPopularCategories' | translate }}
  </h2>
  <div>
    <owl-carousel-o [options]="categoryOption">
      @for (slide of categories ; track slide._id) {
      <ng-template carouselSlide [id]="slide._id">
        <div
          data-aos="fade-right"
          [attr.data-aos-delay]="$index * 50"
          class="cursor-pointer overflow-hidden flex justify-center items-center flex-col"
        >
          <div class="size-[200px]">
            <img
              [src]="slide.image"
              [alt]="slide.name"
              class="transition duration-200 object-cover rounded-full w-full h-full"
              [title]="slide.name"
            />
          </div>
          <h3
            class="text-center mt-2 dark:text-prose-dark dark:hover:text-prose-dark-hover text-prose-default hover:text-prose-hover font-medium"
          >
            {{ slide.name }}
          </h3>
        </div>
      </ng-template>
      }
    </owl-carousel-o>
  </div>

  }
</section>
