<section class="py-10">
  @if (products.length>0) {
  <h1
    class="text-4xl text-primary-default hover:text-primary-dark font-semibold dark:text-prose-dark dark:hover:text-prose-dark-hover text-center mb-10"
    data-aos="fade-in"
  >
    My WishliST
  </h1>
  <div
    class="grid grid-cols-1 p-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-5"
  >
    @for (product of products ; track product._id) {
    <app-product
      [product]="product"
      data-aos="fadeup"
      [attr.data-aos-delay]="$index * 10"
    ></app-product>
    }
  </div>
  }
</section>
