<nav class="fixed w-full z-50 shadow bg-surface-default dark:bg-surface-dark">
  <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto py-3 px-2">
    <a routerLink="/">
      <span
        class="text-2xl font-semibold whitespace-nowrap text-primary-default hover:text-primary-dark-hover dark:text-surface-default dark:hover:text-surface-hover"
      >
        {{ 'NAVBAR.E-COMMERCE' | translate }}
      </span>
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="btn w-fit xl:hidden"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div
      class="hidden w-full xl:w-auto xl:flex xl:flex-row justify-between items-center grow xl:ms-5"
      id="navbar-default"
    >
      <ul
        class="font-medium flex flex-col p-2 space-y-4 xl:p-0 mt-4 rounded-xl xl:flex-row xl:space-y-0 xl:space-x-2 rtl:space-x-reverse xl:mt-0"
      >
        <li>
          <a routerLink="/home" class="link" routerLinkActive="link-active" aria-current="page">
            {{ 'NAVBAR.HOME' | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/products" class="link" routerLinkActive="link-active" aria-current="page">
            {{ 'NAVBAR.PRODUCTS' | translate }}
          </a>
        </li>
        <li>
          <a
            routerLink="/categories"
            class="link"
            routerLinkActive="link-active"
            aria-current="page"
          >
            {{ 'NAVBAR.CATEGORIES' | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/brands" class="link" routerLinkActive="link-active" aria-current="page">
            {{ 'NAVBAR.BRANDS' | translate }}
          </a>
        </li>
        <li>
          <a
            routerLink="/allorders"
            class="link"
            routerLinkActive="link-active"
            aria-current="page"
          >
            {{ 'NAVBAR.MY_ORDERS' | translate }}
          </a>
        </li>
      </ul>

      <ul class="flex flex-row items-center gap-2 justify-center">
        <li class="me-1">
          <button
            type="button"
            routerLink="/wishlist"
            routerLinkActive="link-active"
            class="relative cursor-pointer link"
          >
            <i class="fas fa-bookmark text-2xl"></i>
            <span class="sr-only">Wish List</span>
            @if (count) {
            <div
              class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold rounded-full -top-2 bg-primary-default text-prose-dark dark:bg-surface-default dark:text-prose-default shadow-sm"
            >
              {{ count }}
            </div>
            }
          </button>
        </li>
        <li class="">
          <button
            type="button"
            routerLink="/cart"
            routerLinkActive="link-active text-prose-dark"
            class="relative cursor-pointer link"
          >
            <i class="fas fa-cart-arrow-down text-2xl"></i>
            <span class="sr-only">Cart</span>
            @if (countCart) {
            <div
              class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold rounded-full -top-2 bg-primary-default text-prose-dark dark:bg-surface-default dark:text-prose-default shadow-sm"
            >
              {{ countCart }}
            </div>
            }
          </button>
        </li>

        @if(isDark$ | async){
        <li (click)="setLightMode()" class="link cursor-pointer">
          <i class="fas fa-sun text-lg"></i>
        </li>
        }@else {
        <li (click)="setDarkMode()" class="link cursor-pointer">
          <i class="fas fa-moon text-lg"></i>
        </li>
        }

        <li>
          @if (lang$ | async; as lang) { @if (lang == 'en') {
          <button (click)="changeLang('ar')" class="link cursor-pointer" title="العربية">
            <i class="fas fa-globe"></i> اللغة العربية
          </button>
          } @else {
          <button (click)="changeLang('en')" class="link cursor-pointer" title="English">
            <i class="fas fa-globe"></i> EN
          </button>
          } }
        </li>
        <!-- <li>
          <i class="fa-solid fa-user"></i>
        </li> -->
        <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
          <button
            type="button"
            class="flex text-sm rounded-full md:me-0 focus:ring-4 focus:ring-prose-dark dark:focus:ring-prose-hover"
            id="user-menu-button"
            aria-expanded="false"
            data-dropdown-toggle="user-dropdown"
            data-dropdown-placement="bottom"
          >
            <i class="fas fa-user text-2xl dark:text-prose-dark text-primary-default"></i>
          </button>
          <!-- Dropdown menu -->
          <div
            class="z-50 hidden my-4 text-base list-none bg-prose-dark divide-y divide-prose-dark rounded-lg shadow-sm dark:bg-prose-hover dark:divide-prose-default"
            id="user-dropdown"
          >
            <ul class="py-2" aria-labelledby="user-menu-button">
              <li>
                <a routerLink="/changepassword" class="link cursor-pointer">Change Password</a>
              </li>
              <li>
                <a routerLink="/updateuser" class="link cursor-pointer">Update User Data</a>
              </li>
              <li>
                <button (click)="signOut()" class="link cursor-pointer w-full">
                  {{ 'NAVBAR.SIGNOUT' | translate }}
                </button>
              </li>
            </ul>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
