<nav class="fixed w-full z-50 dark:bg-black/80 bg-white shadow">
  <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-2">
    <a routerLink="/">
      <span class="text-2xl font-semibold whitespace-nowrap dark:text-white">{{
        'E-COMMERCE' | translate
      }}</span>
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-200 rounded-lg lg:hidden cursor-pointer focus:outline-none focus:ring-2 focus:ring-gray-200"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div
      class="hidden w-full lg:w-auto lg:flex lg:flex-row justify-between items-center grow lg:ms-5"
      id="navbar-default"
    >
      <ul
        class="font-medium flex flex-col p-2 space-y-4 lg:p-0 mt-4 rounded-lg lg:flex-row lg:space-y-0 lg:space-x-2 rtl:space-x-reverse lg:mt-0"
      >
        <li>
          <a
            routerLink="/home"
            class="dark:text-white px-5 py-1 hover:bg-green-500 rounded-sm transition duration-200 block font-semibold"
            routerLinkActive="bg-green-500"
            aria-current="page"
          >
            {{ 'HOME' | translate }}
          </a>
        </li>

        <li>
          <a
            routerLink="/products"
            class="dark:text-white px-5 py-1 hover:bg-green-500 rounded-sm transition duration-200 block font-semibold"
            routerLinkActive="bg-green-500"
            aria-current="page"
          >
            {{ 'PRODUCTS' | translate }}
          </a>
        </li>
        <li>
          <a
            routerLink="/categories"
            class="dark:text-white px-5 py-1 hover:bg-green-500 rounded-sm transition duration-200 block font-semibold"
            routerLinkActive="bg-green-500 "
            aria-current="page"
          >
            {{ 'CATEGORIES' | translate }}
          </a>
        </li>
        <li>
          <a
            routerLink="/brands"
            class="dark:text-white px-5 py-1 hover:bg-green-500 rounded-sm transition duration-200 block font-semibold"
            routerLinkActive="bg-green-500"
            aria-current="page"
          >
            {{ 'BRANDS' | translate }}
          </a>
        </li>
      </ul>
      <ul class="flex flex-row items-center gap-2 justify-center">
        <li class="me-2">
          <button
            type="button"
            routerLink="/wishlist"
            class="relative cursor-pointer inline-flex items-center p-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 dark:bg-green-600 dark:hover:bg-green-700"
          >
            <i class="fas fa-bookmark"></i>
            <span class="sr-only">Wish List</span>
            @if (count) {
            <div
              class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-green-500 border-2 border-white rounded-full -top-3 -end-2 dark:border-gray-900"
            >
              {{ count }}
            </div>
            }
          </button>
        </li>
        <li class="me-2">
          <button
            type="button"
            routerLink="/cart"
            class="relative cursor-pointer inline-flex items-center p-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 dark:bg-green-600 dark:hover:bg-green-700"
          >
            <i class="fas fa-cart-plus"></i>
            <span class="sr-only"> {{ 'CART' | translate }} </span>

            <div
              class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-green-500 border-2 border-white rounded-full -top-3 -end-2 dark:border-gray-900"
            >
              0
            </div>
          </button>
        </li>
        @if($isDark | async){
        <li
          (click)="setLightMode()"
          class="rounded-full size-12 flex cursor-pointer hover:bg-green-600 transition duration-300 items-center justify-center"
        >
          <i class="fas fa-sun text-2xl text-white cursor-pointer"></i>
        </li>
        }@else {
        <li
          (click)="setDarkMode()"
          class="rounded-full size-12 flex items-center hover:bg-green-600 transition duration-300 cursor-pointer justify-center"
        >
          <i class="fas fa-moon text-2xl text-black"></i>
        </li>
        }
        <li class="relative z-20">
          <button (click)="toggleLangBox()" class="btn">
            {{ 'LANGUAGE' | translate }}
          </button>
          <div
            #langBox
            class="absolute end-1/4 top-full hidden flex-col px-5 py-2 dark:bg-green-800 bg-green-600 rounded-[4px] mt-1"
          >
            <button (click)="changeLang('en')" class="btn">{{ 'ENGLISH' | translate }}</button>
            <button (click)="changeLang('ar')" class="btn">{{ 'ARABIC' | translate }}</button>
          </div>
        </li>
        <li>
          <button (click)="signOut()" class="btn">{{ 'SIGN OUT' | translate }}</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
