<section
  class="py-10 my-8 rounded-2xl px-5 bg-surface-hover dark:bg-surface-dark-hover"
  data-aos="fade-right"
>
  <div class="w-full">
    <h1
      class="text-3xl md:text-4xl text-center text-primary-default hover:text-primary-dark mb-5 dark:text-prose-dark dark:hover:text-prose-dark-hover font-semibold pb-5"
    >
      {{ 'updatePassword' | translate }}
    </h1>
    <form [formGroup]="passwordRecahngeForm" (ngSubmit)="submit()">
      <app-input
        [control]="passwordRecahngeForm.get('currentPassword')"
        [idInput]="'currentPassword'"
        [label]="'currentPassword' | translate"
      ></app-input>
      <app-input
        [control]="passwordRecahngeForm.get('password')"
        [idInput]="'password'"
        [label]="'AUTH.PASSWORD' | translate"
      ></app-input>
      <app-input
        [control]="passwordRecahngeForm.get('rePassword')"
        [idInput]="'rePassword'"
        [label]="'AUTH.REPASSWORD' | translate"
      ></app-input>
      <button class="btn">
        {{ 'update' | translate }}
        @if(loading()){
        <i class="fa fa-spin fa-spinner text-2xl"></i>
        }
      </button>
    </form>
  </div>
</section>
