<div class="bg-surface-default dark:bg-surface-dark p-10 my-5">
  <div class="w-full bg-surface-hover p-5 rounded-2xl shadow dark:bg-surface-dark-hover">
    <h1 class="text-3xl text-primary-default dark:text-prose-dark font-bold text-center mb-5">
      {{ 'updatePassword' | translate }}
    </h1>
    <form [formGroup]="passwordRecahngeForm" (ngSubmit)="submit()">
      <app-input
        [control]="passwordRecahngeForm.get('currentPassword')"
        [idInput]="'currentPassword'"
        [label]="'currentPassword' | translate"
      ></app-input>
      <app-input
        [control]="passwordRecahngeForm.get('password')"
        [idInput]="'password'"
        [label]="'AUTH.PASSWORD' | translate"
      ></app-input>
      <app-input
        [control]="passwordRecahngeForm.get('rePassword')"
        [idInput]="'rePassword'"
        [label]="'AUTH.REPASSWORD' | translate"
      ></app-input>
      <button class="btn">{{ 'update' | translate }}</button>
    </form>
  </div>
</div>
