<nav class="fixed w-full z-50 shadow bg-surface-default dark:bg-surface-dark">
  <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto py-3 px-2">
    <a routerLink="/">
      <span
        class="text-2xl font-semibold whitespace-nowrap text-primary-default hover:text-primary-dark-hover dark:text-surface-default dark:hover:text-surface-hover"
      >
        {{ 'NAVBAR.E-COMMERCE' | translate }}
      </span>
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="btn w-fit lg:hidden"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div
      class="hidden w-full lg:w-auto lg:flex lg:flex-row justify-between items-center grow lg:ms-5"
      id="navbar-default"
    >
      <ul class="flex w-fit lg:flex-1 lg:mt-0 lg:justify-end mt-2 mx-auto justify-between">
        @if(isDark()){
        <li (click)="setLightMode()" class="link cursor-pointer">
          @if (lang()=='en') {
          <span>Light</span>
          }@else {
          <span>الوضع النهارى</span>
          }
        </li>
        }@else {
        <li (click)="setDarkMode()" class="link cursor-pointer">
          @if (lang()=='en') {
          <span>Dark</span>
          }@else {
          <span>الوضع الليلى</span>
          }
        </li>
        }

        <li></li>
        <li class="mx-5">
          @if (lang() == 'en') {
          <button (click)="changeLang('ar')" class="link cursor-pointer" title="العربية">AR</button>
          } @else {
          <button (click)="changeLang('en')" class="link cursor-pointer" title="English">EN</button>
          }
        </li>
      </ul>
    </div>
  </div>
</nav>
