<section>
  @if (isLoadng) {
  <span class="fixed inset-0 flex justify-center items-center text-green-500 text-6xl">
    <i class="fa fa-spin fa-spinner"></i>
  </span>
  } @if (products.length>0) {
  <h2 class="text-2xl font-semibold text-center pt-5 pb-3">Products</h2>
  <div class="px-3 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
    @for (item of products.slice(0,8); track item._id) {
    <div
      class="space-y-3 item rounded-xl cursor-pointer bg-gray-200 dark:bg-slate-900 dark:text-white py-5 px-3"
      [style.animationDelay]="$index * 0.1 + 's'"
    >
      <img [src]="item.imageCover" class="w-full rounded-t-2xl h-[250px] object-contain" alt="" />
      <h2 class="text-2xl font-medium text-center">{{ item.category.name }}</h2>
      <h2 class="text-xl font-medium text-start">{{ item.title.split(' ', 2).join(' ') }}</h2>
      <div class="flex justify-between items-center border-t-black border-t pt-2">
        <span>{{ item.ratingsAverage }}</span>
        <span> <i class="fas fa-star text-amber-500"></i></span>
      </div>
    </div>
    }
  </div>
  }
</section>
