/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary-default: #14b8a6;
  --color-primary-hover: #2dd4bf;
  --color-primary-dark: #0f766e;
  --color-primary-dark-hover: #0d9488;

  --color-surface-default: #ffffff;
  --color-surface-hover: #f3f4f6;
  --color-surface-dark: #1e293b;
  --color-surface-dark-hover: #273449;
  --color-prose-default: #1f2937;
  --color-prose-hover: #4b5563;
  --color-prose-dark: #e2e8f0;
  --color-prose-dark-hover: #cbd5e1;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-400: #f87171;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
  --color-gold: #f59e0b;
  --color-green-100: #d1fae5;
  --color-green-200: #a7f3d0;
  --color-green-800: #065f46;
  --color-green-900: #064e3b;

  --color-yellow-100: #fef3c7;
  --color-yellow-200: #fde68a;
  --color-yellow-800: #78350f;
  --color-yellow-900: #78350f;
}
@layer components {
  .btn {
    @apply w-full py-2 px-3 font-semibold rounded-sm  bg-primary-default dark:bg-primary-dark hover:bg-primary-dark-hover dark:hover:bg-primary-dark-hover hover:text-surface-hover dark:hover:text-surface-hover text-surface-default dark:text-surface-default  transition duration-200  cursor-pointer;
  }
  .main-label {
    @apply block mb-2 text-sm font-semibold text-prose-default dark:text-prose-dark;
  }
  .main-input {
    @apply bg-surface-default   dark:bg-surface-dark  text-prose-default ring-0 dark:text-prose-dark outline-none border text-sm rounded-lg  block w-full p-2.5;
  }
  .link {
    @apply py-2 px-4  rounded-sm transition duration-200 block font-semibold text-primary-dark dark:text-prose-dark  hover:bg-primary-default hover:text-prose-dark;
  }
  .link-active {
    @apply text-prose-dark bg-primary-default;
  }
}

body {
  font-family: 'Edu NSW ACT Cursive', cursive;
}
.toast-top-right {
  top: 70px !important;
  position: fixed;
  right: 5px;
}
html[dir='rtl'] .toast-top-right {
  left: 50px !important;
  right: auto !important;
  text-align: end;
}
.ngx-spinner-overlay {
  z-index: 500 !important;
}
.main-slider .owl-carousel .owl-stage-outer {
  height: 30dvh;
  margin: auto;
  overflow: hidden;
  border-radius: 16px;
}

.main-slider .owl-carousel .owl-item img {
  border-radius: inherit;
  height: 30dvh;
  width: 100%;
}

.main-slider .owl-theme .owl-nav {
  position: absolute;
  top: 50%;
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  transform: translateY(-50%);
}
.main-slider .owl-theme .owl-nav [class*='owl-'] {
  background-color: var(--color-primary-default);
  padding-block: 20px;
  padding-inline: 10px;
  transition: all 0.5s;
  border-radius: 10px;
}
@media screen and (min-width: 800px) {
  .main-slider .owl-theme .owl-nav [class*='owl-']:hover {
    background-color: var(--color-primary-default);
    padding-block: 25px;
    padding-inline: 15px;
  }
}
.main-slider .owl-theme .owl-dots {
  position: relative;
  bottom: -10px;
}
.main-slider .owl-theme .owl-dots .owl-dot span {
  background-color: var(--color-primary-hover);
}
.main-slider .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: var(--color-primary-dark);
}
