/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@custom-variant dark (&:where(.dark, .dark *));
@layer components {
  .btn {
    @apply w-full py-2 px-3 font-semibold rounded-sm dark:text-white text-black transition duration-200  hover:bg-green-500 cursor-pointer;
  }
  .main-label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
  }
  .main-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500;
  }
}
body {
  font-family: 'Edu NSW ACT Cursive', cursive;
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
